url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

body #landing {
  background-color: GREEN;
}

#landing h1 {

  font-size: 5vw;
}
#landing {
  text-align: center;
}

#about div {

  padding: 16px;
}

#about p {
  max-width: 500px;
}

.page {
  min-height: 100vh;
  border-bottom: 1px solid black;
}

body #about {
  background-color: RED;
}

#experience div {

  padding: 16px;
}

#experience p {
  max-width: 500px;
}

body #experience {
  background-color: LIGHTPINK;
}

#projects div {
  padding: 16px;
}

#projects p {
  max-width: 500px;
}

body #projects {
  background-color: BLANCHEDALMOND;
}
